.topContainer {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 60px;
  padding: 0 1rem;
  margin-top: var(--ion-safe-area-top, env(safe-area-inset-top, 0));

  display: flex;
  align-items: center;

  color: white;

  font-size: 1.5em;
}
