.container {
  display: flex;
  flex-direction: column;
  gap: 0.65rem;

  width: 100%;
  max-width: 500px;
  padding: 0 24px 1rem;

  color: rgba(255, 255, 255, 0.7);
}

.buttons {
  display: flex;
  justify-content: space-between;

  margin: 0 -4px;
}

.playerButton {
  composes: plainButton from "#/features/shared/shared.module.css";

  ion-icon {
    font-size: 26px;
  }
}

.buttonPlaceholder {
  width: 36px;
}
