.container {
  width: calc(100% - 48px);
  max-width: 500px;
  padding: 8px 16px;
  border-radius: 16px;

  backdrop-filter: blur(24px) brightness(0.7) saturate(1.2);
}

.buttons {
  display: flex;
  justify-content: space-between;

  opacity: 0.8;
}

.range {
  --bar-background: rgba(255, 255, 255, 0.3);
  --knob-size: 18px;
  --knob-background: #ccc;
}

.skipIcon {
  width: 24px;
}
