.subIcon {
  border-radius: 50%;
  padding: 6px;
  width: 16px;
  height: 16px;

  color: white;

  /* Background color set in style */
}

.content {
  margin-top: 8px;
  margin-bottom: 8px;

  aside {
    margin-top: 0.2rem;
    color: var(--ion-color-medium);
    font-size: 0.8em;
  }
}

.virtualizerScrollView {
  display: block;
  overflow-y: auto;
  contain: strict;
  width: 100%;
  height: 100%;

  &::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
  }
}
