html:not(.ion-palette-dark) {
  &:root {
    --ion-color-primary: var(--app-primary);
    --ion-color-primary-fixed: #3880ff; /* always blue always blue! */

    ion-item {
      /* default ionic light mode opacity is too harsh */
      --background-activated-opacity: 0.06;
    }
  }
}
