:root {
  --ion-text-color: #000;

  /** primary **/
  --ion-color-primary: #3880ff;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #3dc2ff;
  --ion-color-secondary-rgb: 61, 194, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #36abe0;
  --ion-color-secondary-tint: #50c8ff;

  /** tertiary **/
  --ion-color-tertiary: #5260ff;
  --ion-color-tertiary-rgb: 82, 96, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;

  /** success **/
  --ion-color-success: #07be02;
  --ion-color-success-rgb: 7, 190, 2;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #06a702;
  --ion-color-success-tint: #20c51b;

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  --ion-color-medium2: var(--ion-color-medium);

  --lightroom-bg: rgba(0, 0, 0, 0.047);

  --thick-separator-color: var(--ion-background-color-step-50, #f2f2f7);

  --ion-background-color-step-100: #f3f3f3;

  --unread-item-background-color: #e3f1ff;

  --ion-color-text-aside: rgba(0, 0, 0, 0.55);

  --read-color: rgba(0, 0, 0, 0.45);
  --read-color-medium: rgba(0, 0, 0, 0.4);

  --share-img-drop-shadow: none;

  --ion-color-reddit-upvote: #ff5c01;

  --markdown-toolbar-height: 50px;

  &.theme-has-custom-background {
    &.ios body,
    &.md body {
      --ion-background-color: var(--app-background) !important;
      --ion-item-background: var(--app-background);
      --ion-background-color-step-50: var(--app-inset-item-background);
      --ion-background-color-step-100: var(--app-tab-bar-background);
      --ion-tab-bar-background: var(--app-tab-bar-background);
      --ion-toolbar-background: var(--app-tab-bar-background);
      --thick-separator-color: var(--app-inset-item-background);
    }

    ion-router-outlet ion-list.list-inset ion-item {
      --background: var(--app-inset-item-background);
    }

    &.ios ion-modal:not(.transparent-scroll) {
      --ion-background-color: var(--app-background);
      --ion-toolbar-background: var(--app-tab-bar-background);
      --ion-toolbar-border-color: var(--ion-background-color-step-150);

      --ion-item-background: var(--ion-background-color);
    }
  }
}

.ios body {
  --ion-background-color: #fff;
}

.ios ion-modal {
  --ion-background-color: var(--ion-background-color-step-50, #f2f2f7);
  --ion-item-background: var(--app-background, #fff);
}

.ion-color-primary-fixed {
  --ion-color-base: var(--ion-color-primary-fixed);
}
.ion-color-reddit-upvote {
  --ion-color-base: var(--ion-color-reddit-upvote);
}
