server {
    listen ${NGINX_PORT};

    gzip on;
    gzip_types text/css application/javascript application/json image/svg+xml;
    gzip_comp_level 9;

    root /var/www/;

    location / {
        try_files $uri /index.html;
        add_header Cache-Control no-cache;
    }

    location /assets/ {
        add_header Cache-Control max-age=31536000;
    }

    location /_config {
        alias /var/www/config.json;
        add_header Cache-Control no-cache;
    }
}