.routerOutletContents {
  display: flex;
  width: 100%;
  height: 100%;

  > * {
    position: initial;
    flex: 1;
  }

  /* Change order here, so css selector + can be used below */
  > ion-router-outlet {
    order: -1;
  }

  /* If empty state or page is shown (not hidden), router outlet (first column) should have max width */
  > div:not(:global(.ion-hide)) ~ ion-router-outlet {
    max-width: 520px;
  }
}
