.tabBar {
  @media (orientation: landscape) and (max-height: 450px) {
    height: 36px;

    ion-badge {
      inset-inline-start: calc(70% + 6px);

      &:global(.md) {
        inset-inline-start: calc(75% + 6px);
      }
    }

    ion-tab-button {
      flex-direction: row;

      > ion-label {
        margin-bottom: 0;
      }

      > ion-icon {
        font-size: 22px !important;
        margin-right: 5px;
      }
    }
  }
}
