<?xml version="1.0" encoding="utf-8" ?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:configChanges="orientation|keyboardHidden|keyboard|navigation|screenSize|locale|smallestScreenSize|screenLayout|uiMode|density"
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBarLaunch"
            android:launchMode="singleTask"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:label="@string/lemmy_link">
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="vger" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="https" />
                <!--#AUTO_GEN_INSTANCE_LIST_DO_NOT_TOUCH#-->
                <data android:host="ani.social" />
                <data android:host="aussie.zone" />
                <data android:host="awful.systems" />
                <data android:host="burggit.moe" />
                <data android:host="discuss.online" />
                <data android:host="discuss.tchncs.de" />
                <data android:host="feddit.org" />
                <data android:host="feddit.dk" />
                <data android:host="feddit.it" />
                <data android:host="feddit.nl" />
                <data android:host="feddit.nu" />
                <data android:host="feddit.uk" />
                <data android:host="hexbear.net" />
                <data android:host="infosec.pub" />
                <data android:host="jlai.lu" />
                <data android:host="lemdro.id" />
                <data android:host="leminal.space" />
                <data android:host="lemmings.world" />
                <data android:host="lemmy.blahaj.zone" />
                <data android:host="lemmy.ca" />
                <data android:host="lemmy.dbzer0.com" />
                <data android:host="lemmy.eco.br" />
                <data android:host="lemmy.ml" />
                <data android:host="lemmy.nz" />
                <data android:host="lemmy.wtf" />
                <data android:host="lemmy.sdf.org" />
                <data android:host="lemmy.today" />
                <data android:host="lemmy.world" />
                <data android:host="lemmy.zip" />
                <data android:host="lemmygrad.ml" />
                <data android:host="lemmynsfw.com" />
                <data android:host="lemy.lol" />
                <data android:host="mander.xyz" />
                <data android:host="midwest.social" />
                <data android:host="monero.town" />
                <data android:host="pawb.social" />
                <data android:host="programming.dev" />
                <data android:host="reddthat.com" />
                <data android:host="sh.itjust.works" />
                <data android:host="slrpnk.net" />
                <data android:host="sopuli.xyz" />
                <data android:host="startrek.website" />
                <data android:host="szmer.info" />
                <data android:host="thelemmy.club" />
                <data android:host="ttrpg.network" />
                <data android:host="vger.social" />
                <!--#INSTANCE_LIST_END#-->
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="https" />
                <data android:host="go.getvoyager.app" />
                <data android:host="vger.to" />
            </intent-filter>
        </activity>

        <activity-alias
            android:label="@string/title_activity_main"
            android:icon="@mipmap/planetary"
            android:name=".planetary"
            android:enabled="false"
            android:exported="true"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:label="@string/lemmy_link">
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="vger" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="https" />
                <!--#AUTO_GEN_INSTANCE_LIST_DO_NOT_TOUCH#-->
                <data android:host="ani.social" />
                <data android:host="aussie.zone" />
                <data android:host="awful.systems" />
                <data android:host="burggit.moe" />
                <data android:host="discuss.online" />
                <data android:host="discuss.tchncs.de" />
                <data android:host="feddit.org" />
                <data android:host="feddit.dk" />
                <data android:host="feddit.it" />
                <data android:host="feddit.nl" />
                <data android:host="feddit.nu" />
                <data android:host="feddit.uk" />
                <data android:host="hexbear.net" />
                <data android:host="infosec.pub" />
                <data android:host="jlai.lu" />
                <data android:host="lemdro.id" />
                <data android:host="leminal.space" />
                <data android:host="lemmings.world" />
                <data android:host="lemmy.blahaj.zone" />
                <data android:host="lemmy.ca" />
                <data android:host="lemmy.dbzer0.com" />
                <data android:host="lemmy.eco.br" />
                <data android:host="lemmy.ml" />
                <data android:host="lemmy.nz" />
                <data android:host="lemmy.wtf" />
                <data android:host="lemmy.sdf.org" />
                <data android:host="lemmy.today" />
                <data android:host="lemmy.world" />
                <data android:host="lemmy.zip" />
                <data android:host="lemmygrad.ml" />
                <data android:host="lemmynsfw.com" />
                <data android:host="lemy.lol" />
                <data android:host="mander.xyz" />
                <data android:host="midwest.social" />
                <data android:host="monero.town" />
                <data android:host="pawb.social" />
                <data android:host="programming.dev" />
                <data android:host="reddthat.com" />
                <data android:host="sh.itjust.works" />
                <data android:host="slrpnk.net" />
                <data android:host="sopuli.xyz" />
                <data android:host="startrek.website" />
                <data android:host="szmer.info" />
                <data android:host="thelemmy.club" />
                <data android:host="ttrpg.network" />
                <data android:host="vger.social" />
                <!--#INSTANCE_LIST_END#-->
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="https" />
                <data android:host="go.getvoyager.app" />
                <data android:host="vger.to" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:label="@string/title_activity_main"
            android:icon="@mipmap/psych"
            android:name=".psych"
            android:enabled="false"
            android:exported="true"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:label="@string/lemmy_link">
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="vger" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="https" />
                <!--#AUTO_GEN_INSTANCE_LIST_DO_NOT_TOUCH#-->
                <data android:host="ani.social" />
                <data android:host="aussie.zone" />
                <data android:host="awful.systems" />
                <data android:host="burggit.moe" />
                <data android:host="discuss.online" />
                <data android:host="discuss.tchncs.de" />
                <data android:host="feddit.org" />
                <data android:host="feddit.dk" />
                <data android:host="feddit.it" />
                <data android:host="feddit.nl" />
                <data android:host="feddit.nu" />
                <data android:host="feddit.uk" />
                <data android:host="hexbear.net" />
                <data android:host="infosec.pub" />
                <data android:host="jlai.lu" />
                <data android:host="lemdro.id" />
                <data android:host="leminal.space" />
                <data android:host="lemmings.world" />
                <data android:host="lemmy.blahaj.zone" />
                <data android:host="lemmy.ca" />
                <data android:host="lemmy.dbzer0.com" />
                <data android:host="lemmy.eco.br" />
                <data android:host="lemmy.ml" />
                <data android:host="lemmy.nz" />
                <data android:host="lemmy.wtf" />
                <data android:host="lemmy.sdf.org" />
                <data android:host="lemmy.today" />
                <data android:host="lemmy.world" />
                <data android:host="lemmy.zip" />
                <data android:host="lemmygrad.ml" />
                <data android:host="lemmynsfw.com" />
                <data android:host="lemy.lol" />
                <data android:host="mander.xyz" />
                <data android:host="midwest.social" />
                <data android:host="monero.town" />
                <data android:host="pawb.social" />
                <data android:host="programming.dev" />
                <data android:host="reddthat.com" />
                <data android:host="sh.itjust.works" />
                <data android:host="slrpnk.net" />
                <data android:host="sopuli.xyz" />
                <data android:host="startrek.website" />
                <data android:host="szmer.info" />
                <data android:host="thelemmy.club" />
                <data android:host="ttrpg.network" />
                <data android:host="vger.social" />
                <!--#INSTANCE_LIST_END#-->
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="https" />
                <data android:host="go.getvoyager.app" />
                <data android:host="vger.to" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:label="@string/title_activity_main"
            android:icon="@mipmap/space"
            android:name=".space"
            android:enabled="false"
            android:exported="true"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:label="@string/lemmy_link">
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="vger" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="https" />
                <!--#AUTO_GEN_INSTANCE_LIST_DO_NOT_TOUCH#-->
                <data android:host="ani.social" />
                <data android:host="aussie.zone" />
                <data android:host="awful.systems" />
                <data android:host="burggit.moe" />
                <data android:host="discuss.online" />
                <data android:host="discuss.tchncs.de" />
                <data android:host="feddit.org" />
                <data android:host="feddit.dk" />
                <data android:host="feddit.it" />
                <data android:host="feddit.nl" />
                <data android:host="feddit.nu" />
                <data android:host="feddit.uk" />
                <data android:host="hexbear.net" />
                <data android:host="infosec.pub" />
                <data android:host="jlai.lu" />
                <data android:host="lemdro.id" />
                <data android:host="leminal.space" />
                <data android:host="lemmings.world" />
                <data android:host="lemmy.blahaj.zone" />
                <data android:host="lemmy.ca" />
                <data android:host="lemmy.dbzer0.com" />
                <data android:host="lemmy.eco.br" />
                <data android:host="lemmy.ml" />
                <data android:host="lemmy.nz" />
                <data android:host="lemmy.wtf" />
                <data android:host="lemmy.sdf.org" />
                <data android:host="lemmy.today" />
                <data android:host="lemmy.world" />
                <data android:host="lemmy.zip" />
                <data android:host="lemmygrad.ml" />
                <data android:host="lemmynsfw.com" />
                <data android:host="lemy.lol" />
                <data android:host="mander.xyz" />
                <data android:host="midwest.social" />
                <data android:host="monero.town" />
                <data android:host="pawb.social" />
                <data android:host="programming.dev" />
                <data android:host="reddthat.com" />
                <data android:host="sh.itjust.works" />
                <data android:host="slrpnk.net" />
                <data android:host="sopuli.xyz" />
                <data android:host="startrek.website" />
                <data android:host="szmer.info" />
                <data android:host="thelemmy.club" />
                <data android:host="ttrpg.network" />
                <data android:host="vger.social" />
                <!--#INSTANCE_LIST_END#-->
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="https" />
                <data android:host="go.getvoyager.app" />
                <data android:host="vger.to" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:label="@string/title_activity_main"
            android:icon="@mipmap/original"
            android:name=".original"
            android:enabled="false"
            android:exported="true"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:label="@string/lemmy_link">
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="vger" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="https" />
                <!--#AUTO_GEN_INSTANCE_LIST_DO_NOT_TOUCH#-->
                <data android:host="ani.social" />
                <data android:host="aussie.zone" />
                <data android:host="awful.systems" />
                <data android:host="burggit.moe" />
                <data android:host="discuss.online" />
                <data android:host="discuss.tchncs.de" />
                <data android:host="feddit.org" />
                <data android:host="feddit.dk" />
                <data android:host="feddit.it" />
                <data android:host="feddit.nl" />
                <data android:host="feddit.nu" />
                <data android:host="feddit.uk" />
                <data android:host="hexbear.net" />
                <data android:host="infosec.pub" />
                <data android:host="jlai.lu" />
                <data android:host="lemdro.id" />
                <data android:host="leminal.space" />
                <data android:host="lemmings.world" />
                <data android:host="lemmy.blahaj.zone" />
                <data android:host="lemmy.ca" />
                <data android:host="lemmy.dbzer0.com" />
                <data android:host="lemmy.eco.br" />
                <data android:host="lemmy.ml" />
                <data android:host="lemmy.nz" />
                <data android:host="lemmy.wtf" />
                <data android:host="lemmy.sdf.org" />
                <data android:host="lemmy.today" />
                <data android:host="lemmy.world" />
                <data android:host="lemmy.zip" />
                <data android:host="lemmygrad.ml" />
                <data android:host="lemmynsfw.com" />
                <data android:host="lemy.lol" />
                <data android:host="mander.xyz" />
                <data android:host="midwest.social" />
                <data android:host="monero.town" />
                <data android:host="pawb.social" />
                <data android:host="programming.dev" />
                <data android:host="reddthat.com" />
                <data android:host="sh.itjust.works" />
                <data android:host="slrpnk.net" />
                <data android:host="sopuli.xyz" />
                <data android:host="startrek.website" />
                <data android:host="szmer.info" />
                <data android:host="thelemmy.club" />
                <data android:host="ttrpg.network" />
                <data android:host="vger.social" />
                <!--#INSTANCE_LIST_END#-->
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="https" />
                <data android:host="go.getvoyager.app" />
                <data android:host="vger.to" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:label="@string/title_activity_main"
            android:icon="@mipmap/galactic"
            android:name=".galactic"
            android:enabled="false"
            android:exported="true"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:label="@string/lemmy_link">
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="vger" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="https" />
                <!--#AUTO_GEN_INSTANCE_LIST_DO_NOT_TOUCH#-->
                <data android:host="ani.social" />
                <data android:host="aussie.zone" />
                <data android:host="awful.systems" />
                <data android:host="burggit.moe" />
                <data android:host="discuss.online" />
                <data android:host="discuss.tchncs.de" />
                <data android:host="feddit.org" />
                <data android:host="feddit.dk" />
                <data android:host="feddit.it" />
                <data android:host="feddit.nl" />
                <data android:host="feddit.nu" />
                <data android:host="feddit.uk" />
                <data android:host="hexbear.net" />
                <data android:host="infosec.pub" />
                <data android:host="jlai.lu" />
                <data android:host="lemdro.id" />
                <data android:host="leminal.space" />
                <data android:host="lemmings.world" />
                <data android:host="lemmy.blahaj.zone" />
                <data android:host="lemmy.ca" />
                <data android:host="lemmy.dbzer0.com" />
                <data android:host="lemmy.eco.br" />
                <data android:host="lemmy.ml" />
                <data android:host="lemmy.nz" />
                <data android:host="lemmy.wtf" />
                <data android:host="lemmy.sdf.org" />
                <data android:host="lemmy.today" />
                <data android:host="lemmy.world" />
                <data android:host="lemmy.zip" />
                <data android:host="lemmygrad.ml" />
                <data android:host="lemmynsfw.com" />
                <data android:host="lemy.lol" />
                <data android:host="mander.xyz" />
                <data android:host="midwest.social" />
                <data android:host="monero.town" />
                <data android:host="pawb.social" />
                <data android:host="programming.dev" />
                <data android:host="reddthat.com" />
                <data android:host="sh.itjust.works" />
                <data android:host="slrpnk.net" />
                <data android:host="sopuli.xyz" />
                <data android:host="startrek.website" />
                <data android:host="szmer.info" />
                <data android:host="thelemmy.club" />
                <data android:host="ttrpg.network" />
                <data android:host="vger.social" />
                <!--#INSTANCE_LIST_END#-->
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="https" />
                <data android:host="go.getvoyager.app" />
                <data android:host="vger.to" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:label="@string/title_activity_main"
            android:icon="@mipmap/pride"
            android:name=".pride"
            android:enabled="false"
            android:exported="true"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:label="@string/lemmy_link">
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="vger" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="https" />
                <!--#AUTO_GEN_INSTANCE_LIST_DO_NOT_TOUCH#-->
                <data android:host="ani.social" />
                <data android:host="aussie.zone" />
                <data android:host="awful.systems" />
                <data android:host="burggit.moe" />
                <data android:host="discuss.online" />
                <data android:host="discuss.tchncs.de" />
                <data android:host="feddit.org" />
                <data android:host="feddit.dk" />
                <data android:host="feddit.it" />
                <data android:host="feddit.nl" />
                <data android:host="feddit.nu" />
                <data android:host="feddit.uk" />
                <data android:host="hexbear.net" />
                <data android:host="infosec.pub" />
                <data android:host="jlai.lu" />
                <data android:host="lemdro.id" />
                <data android:host="leminal.space" />
                <data android:host="lemmings.world" />
                <data android:host="lemmy.blahaj.zone" />
                <data android:host="lemmy.ca" />
                <data android:host="lemmy.dbzer0.com" />
                <data android:host="lemmy.eco.br" />
                <data android:host="lemmy.ml" />
                <data android:host="lemmy.nz" />
                <data android:host="lemmy.wtf" />
                <data android:host="lemmy.sdf.org" />
                <data android:host="lemmy.today" />
                <data android:host="lemmy.world" />
                <data android:host="lemmy.zip" />
                <data android:host="lemmygrad.ml" />
                <data android:host="lemmynsfw.com" />
                <data android:host="lemy.lol" />
                <data android:host="mander.xyz" />
                <data android:host="midwest.social" />
                <data android:host="monero.town" />
                <data android:host="pawb.social" />
                <data android:host="programming.dev" />
                <data android:host="reddthat.com" />
                <data android:host="sh.itjust.works" />
                <data android:host="slrpnk.net" />
                <data android:host="sopuli.xyz" />
                <data android:host="startrek.website" />
                <data android:host="szmer.info" />
                <data android:host="thelemmy.club" />
                <data android:host="ttrpg.network" />
                <data android:host="vger.social" />
                <!--#INSTANCE_LIST_END#-->
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="https" />
                <data android:host="go.getvoyager.app" />
                <data android:host="vger.to" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:label="@string/title_activity_main"
            android:icon="@mipmap/holidays"
            android:name=".holidays"
            android:enabled="false"
            android:exported="true"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:label="@string/lemmy_link">
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="vger" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="https" />
                <!--#AUTO_GEN_INSTANCE_LIST_DO_NOT_TOUCH#-->
                <data android:host="ani.social" />
                <data android:host="aussie.zone" />
                <data android:host="awful.systems" />
                <data android:host="burggit.moe" />
                <data android:host="discuss.online" />
                <data android:host="discuss.tchncs.de" />
                <data android:host="feddit.org" />
                <data android:host="feddit.dk" />
                <data android:host="feddit.it" />
                <data android:host="feddit.nl" />
                <data android:host="feddit.nu" />
                <data android:host="feddit.uk" />
                <data android:host="hexbear.net" />
                <data android:host="infosec.pub" />
                <data android:host="jlai.lu" />
                <data android:host="lemdro.id" />
                <data android:host="leminal.space" />
                <data android:host="lemmings.world" />
                <data android:host="lemmy.blahaj.zone" />
                <data android:host="lemmy.ca" />
                <data android:host="lemmy.dbzer0.com" />
                <data android:host="lemmy.eco.br" />
                <data android:host="lemmy.ml" />
                <data android:host="lemmy.nz" />
                <data android:host="lemmy.wtf" />
                <data android:host="lemmy.sdf.org" />
                <data android:host="lemmy.today" />
                <data android:host="lemmy.world" />
                <data android:host="lemmy.zip" />
                <data android:host="lemmygrad.ml" />
                <data android:host="lemmynsfw.com" />
                <data android:host="lemy.lol" />
                <data android:host="mander.xyz" />
                <data android:host="midwest.social" />
                <data android:host="monero.town" />
                <data android:host="pawb.social" />
                <data android:host="programming.dev" />
                <data android:host="reddthat.com" />
                <data android:host="sh.itjust.works" />
                <data android:host="slrpnk.net" />
                <data android:host="sopuli.xyz" />
                <data android:host="startrek.website" />
                <data android:host="szmer.info" />
                <data android:host="thelemmy.club" />
                <data android:host="ttrpg.network" />
                <data android:host="vger.social" />
                <!--#INSTANCE_LIST_END#-->
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="https" />
                <data android:host="go.getvoyager.app" />
                <data android:host="vger.to" />
            </intent-filter>
        </activity-alias>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/file_paths" />
        </provider>
    </application>

    <!-- Permissions -->

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28" />
</manifest>
