.container {
  composes: maxWidth from "#/features/shared/shared.module.css";

  display: flex;
  gap: 1rem;

  padding: 0.5rem 0;

  font-size: 0.875em;

  strong {
    font-weight: 500;
  }
}

.startContent {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  ion-icon {
    width: 1lh;
    height: 1lh;
  }
}

.typeIcon {
  color: var(--ion-color-medium2);
}

.content {
  flex: 1;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.header {
  display: flex;
  justify-content: space-between;

  aside {
    margin-left: auto;

    display: flex;
    align-items: center;
    gap: 0.5rem;

    color: var(--ion-color-medium2);
  }
}

.body {
  color: var(--ion-color-medium);
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  aside {
    display: flex;
    align-items: center;
    gap: 6px;

    color: var(--ion-color-medium2);
  }
}

.agoIcon {
  font-size: 1.2em;
}
