.button {
  composes: plainButton from "#/features/shared/shared.module.css";

  &.button {
    margin: -6px 0; /* prevent size from breaking line height */
  }
}

.ellipsisIcon {
  font-size: 1.2rem;
}
