.container {
  min-height: 100%;

  display: flex;

  html:global(.ios:not(.ion-palette-dark)) & {
    background: var(--ion-item-background);
  }
}

.selectable {
  padding: 8px;
  width: calc(100% - 16px);

  user-select: text;
  white-space: pre-wrap;

  margin-bottom: var(--ion-safe-area-bottom);
}

.editable {
  composes: selectable;

  outline: 0;
  cursor: text;
}
