.linkContainer {
  display: inline;

  font-weight: 500;
  white-space: nowrap;

  text-overflow: ellipsis;
  overflow: hidden;

  position: relative;
}

.linkContainerParentLarge {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.linkContainerChildLarge {
  flex: 1;

  font-weight: 300;

  white-space: pre-wrap;
  overflow-wrap: break-word;
  word-break: break-all;
  word-wrap: break-word;
}

.link {
  text-decoration: none;
  color: inherit;
}

.hide {
  position: relative;

  &:after {
    content: "";
    position: absolute;
    inset: 0;
    background: var(--ion-background-color-step-150, #ccc);
  }
}
