.linkContainer {
  position: relative;
  display: inline;

  font-weight: 500;
  white-space: nowrap;
}

.link {
  text-decoration: none;
  color: inherit;

  display: flex;
  gap: 0.5em;
}

.hide {
  position: relative;

  &:after {
    content: "";
    position: absolute;
    inset: 0;
    background: var(--ion-background-color-step-150, #ccc);
  }
}
