.container {
  height: 100%;
  height: 100%;

  font-size: 0.9rem;

  overflow-y: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.messageContainer {
  composes: maxWidth from "#/features/shared/shared.module.css";

  display: flex;
  flex-direction: column;

  padding: 0 16px;

  overflow: hidden;
}

.footer {
  background: var(--ion-background-color);
}

.title {
  padding-inline-start: 120px !important;
  padding-inline-end: 120px;
}
