.containerBg {
  background: var(--ion-background-color, #fff);
  max-width: 320px;

  position: relative;
  width: 100%;
  margin: 36px auto;

  border-radius: 16px;
}

.container {
  composes: appLightColorContent from "#/features/shared/shared.module.css";

  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;

  padding: 16px;
  border-radius: 16px;
}

.closeButton {
  border-radius: 50%;
  background: rgba(180, 180, 180, 0.2);

  appearance: none;
  padding: 5px;
  color: var(--ion-color-medium);

  display: flex;

  position: absolute;
  right: 8px;
  top: 8px;

  font-size: 1.3em;
}
