.placeholderContainer {
  display: flex;

  &:global(.not-loaded) {
    align-items: center;
    justify-content: center;

    aspect-ratio: var(--sv-defaultAspectRatio);
    position: relative;

    .media {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

.loadingIcon {
  opacity: 0.5;
  opacity: 0.5;
  font-size: 24px;
}

.error {
  opacity: 0.5;
  padding: 16px;
}
