.container {
  position: relative;
}

.blur {
  filter: blur(40px) brightness(0.8) saturate(1.2);

  /* https://graffino.com/til/CjT2jrcLHP-how-to-fix-filter-blur-performance-issue-in-safari */
  transform: translate3d(0, 0, 0);
}
