.container {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  img {
    border-radius: 15%;
    filter: grayscale(80%) opacity(0.2);
  }
}

/* Invisible header hosting the Tauri window management buttons */
.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.header::after {
  display: none;
}

.toolbar {
  --background: transparent;
  --border-width: 0;
}
