.content {
  composes: appLightColorContent from "#/features/shared/shared.module.css";
}

.header {
  box-shadow: none;
}

.title:global(.md) {
  padding-inline: 0;
}

.buttons:global(.md) {
  margin-inline-end: 0;
}
