.container {
  width: 100%;
  font-size: 12px;
  font-weight: 300;
  padding: 0 8px 8px;

  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;

  opacity: 0.6;

  color: var(--ion-item-color, var(--ion-text-color, #000));
}

.text {
  opacity: 0.5;
}

.logoImg {
  border-radius: 4px;
  width: 25px;
}
