.container {
  position: relative;
}

.img {
  max-width: 100px;
  max-height: 100px;
  padding: 1rem;

  &.loadingImage {
    filter: blur(5px) brightness(0.5);
  }
}

.overlaySpinner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
