.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  text-align: center;
  padding: 8px;

  position: absolute;
  inset: 0;

  overflow: auto;

  padding-top: max(var(--ion-safe-area-top), 8px);
  padding-right: max(var(--ion-safe-area-right), 8px);
  padding-bottom: max(var(--ion-safe-area-bottom), 8px);
  padding-left: max(var(--ion-safe-area-left), 8px);

  color: var(--ion-text-color);
}
