.container {
  font-size: 0.8rem;
  vertical-align: middle;
  padding: 2px 4px;
  border-radius: 8px;
  margin-left: 4px;
  background: #ff0000;
  background: color(display-p3 1 0 0);
  color: white;
}
