html {
  -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
}

.ReactCollapse--collapse {
  transition: height 200ms;
}

ion-tab-button {
  opacity: 1 !important;
}

.left-align-buttons
  .action-sheet-button:not(.action-sheet-cancel)
  .action-sheet-button-inner.sc-ion-action-sheet-ios:not(
    .action-sheet-group-cancel
  ) {
  justify-content: flex-start;
}

@media (prefers-color-scheme: light) {
  .ios .grey-bg {
    --ion-background-color: var(--ion-color-step-50, #f2f2f7);
  }
  .ios .grey-bg ion-header {
    --opacity: 0;
  }
  .ios .grey-bg ion-modal ion-content {
    --background: #fff;
  }
  .ios .grey-bg ion-item {
    --ion-background-color: #fff;
  }
  .ios .grey-bg ion-item-sliding {
    background: #fff;
  }
}
