name: Build Apps and Create Release

on:
  push:
    tags:
      - "[0-9]+.[0-9]+.[0-9]+"

jobs:
  build_ios:
    runs-on: ubuntu-latest

    steps:
      - name: Build iOS on Appflow
        uses: ionic-team/appflow-build@71a31db2d31237f18473cb3235fa7c27302136dc # v1
        with:
          token: ${{ secrets.APPFLOW_TOKEN }}
          app-id: 9f0851ec
          platform: iOS
          build-type: app-store
          certificate: Distribution
          destinations: Voyager App Store
          filename: iOS-${{ github.ref_name }}-${{ github.run_id }}
          upload-artifact: iOS-Build.zip

  build_android:
    runs-on: ubuntu-latest

    steps:
      - name: Build Android on Appflow
        uses: ionic-team/appflow-build@71a31db2d31237f18473cb3235fa7c27302136dc # v1
        with:
          token: ${{ secrets.APPFLOW_TOKEN }}
          app-id: 9f0851ec
          platform: Android
          build-type: release
          certificate: Voyager Play Store
          destinations: Voyager Play Store
          filename: Android-${{ github.ref_name }}-${{ github.run_id }}
          upload-artifact: Android-Build.zip

  create_release:
    needs: [build_ios, build_android]
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - name: Download iOS Artifact
        uses: actions/download-artifact@9bc31d5ccc31df68ecc42ccf4149144866c47d8a # v3
        with:
          name: iOS-Build.zip
          path: artifacts/ios

      - name: Download Android Artifact
        uses: actions/download-artifact@9bc31d5ccc31df68ecc42ccf4149144866c47d8a # v3
        with:
          name: Android-Build.zip
          path: artifacts/android

      - name: Release
        uses: softprops/action-gh-release@de2c0eb89ae2a093876385947365aca7b0e5f844 # v1
        with:
          generate_release_notes: true
          files: |
            artifacts/ios/*
            artifacts/android/*
